src/main/resources/Book_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace=""
            elementFormDefault="qualified">

    <xsd:element name="book">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="isbn" type="xsd:int" minOccurs="1"/>
                <xsd:element name="title" type="xsd:string" minOccurs="1"/>
                <xsd:element name="year" type="xsd:int" minOccurs="1"/>
                <xsd:element name="author">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="id" type="xsd:int" minOccurs="1"/>
                            <xsd:element name="name" type="xsd:string" minOccurs="1"/>
                            <xsd:element name="bio" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>